<footer id="footer">
    <div class="container has-text-centered" id="backtotop" style="background:#444;">
        <a style="color:#fff;" onclick="window.scroll(0,0)">BACK TO TOP</a>
    </div>
    <div style="background:#333;">
        <div class="container columns" style="padding:1.5rem; line-height:1.4;">
            <div class="column has-text-left-desktop has-text-centered-mobile">
                <a href="{{site.url}}{{site.baseurl}}/#about">
                    <div class="columns">
                        <div class="column is-one-fifth-desktop is-one-quarter-tablet">
                            <figure class="image is-64x64" style="margin:auto;">
                                <img class="is-rounded" src="{{site.author-image}}">
                            </figure>
                        </div>
                        <div class="column is-marginless">
                            <h5 style="color:#ddd;">{{site.author-name}}</h5>
                            <div class="content">
                                <p style="color:#aaa; font-size:0.85rem;">{{site.author-about | truncate: 75 }}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="column" style="color:#ccc;">
                <h3 style="color:#ddd; margin-bottom:0.5rem;">Quick Links</h3>
                <li><a href="{{site.url}}{{site.baseurl}}/research" style="color:#aaa;">Research</a></li>
                <li><a href="{{site.url}}{{site.baseurl}}/publications" style="color:#aaa;">Publications</a></li>
                <li><a href="{{site.url}}{{site.baseurl}}/people" style="color:#aaa;">Group</a></li>
                <li><a href="{{site.url}}{{site.baseurl}}/join" style="color:#aaa;">Join Us</a></li>
                <li><a href="{{site.url}}{{site.baseurl}}/news" style="color:#aaa;">News</a></li>
            </div>
            <div class="column" style="color:#ccc;">
                <h3 style="color:#ddd; margin-bottom:0.5rem;">Contact</h3>
                <li><a href="mailto:{{site.email}}" style="color:#aaa;">{{site.email}}</a></li>
                <li><a href="https://scholar.google.com/citations?hl=en&user=ktNYEi8AAAAJ" target="_blank" rel="noopener" style="color:#aaa;">Google Scholar</a></li>
                <li style="color:#888; font-size:0.85rem; margin-top:0.8rem;">School of Life Sciences<br>Peking University<br>Beijing, China</li>
            </div>
        </div>
    </div>
    <div style="background:#222; text-align:center; padding:0.75rem; font-size:0.85rem; color:#999;">
        <i class="far fa-copyright"></i> {{ "now" | date: "%Y" }} Liu Lab @ Peking University. All rights reserved.
    </div>
</footer>
